{
    "tick_processor_params":{
        "mode":"backtest",
        "back_test_start":"2023-08-01 00:00:00",
        "back_test_end":"2023-08-18 00:00:00",
        "back_test_directory_path":"C:/QuantDataManager/export",
        "back_test_balance":100000.0,
        "back_test_currency":"EUR",
        "back_test_leverage":33,
        "back_test_execution_commission_rate":0.005,
        "back_test_spread_pips":1.0,
        "MT4_directory_path":"None",
        "time_delta_hours":"None",
        "sleep_delay":"None",
        "max_retry_command_seconds":"None",
        "verbose":"None",
        "strategies":{
          "DivergentT1":{
             "magic_no":1,
             "symbol":"EURUSD",
             "timeframe":"H1",
             "max_risk_per_trade":0.1,
             "symbol_spec":{
               "contract_size":100000,
               "digits":5,
               "min_volume":0.01,
               "swap_type":"points",
               "swap_long":-8.2,
               "swap_short":1.7
             }
          }
        }
    }
}