{ 'tick_processor_params': 
{'mode': 'live', 'back_test_start': None, 'back_test_end': None, 'back_test_directory_path': None, 'back_test_balance': None, 'back_test_currency': None, 
'back_test_leverage': None, 'MT4_directory_path': 'C:/Users/Usuario/AppData/Roaming/MetaQuotes/Terminal/30D279B64B1858168C932D8264853F2B/MQL4/Files',
'time_delta_hours': 3, 'sleep_delay': 0.005, 'max_retry_command_seconds': 10, 'verbose': True},
'strategies': {'DivergentT1': {'symbol': 'BTCUSD', 'timeframe': 'H4', 'max_risk_per_trade': 0.1}}
}

{
    "tick_processor_params":{
        "mode":"live",
        "back_test_start":"None",
        "back_test_end":"None",
        "back_test_directory_path":"None",
        "back_test_balance":None,
        "back_test_currency":"USD",
        "back_test_leverage":33,
        "MT4_directory_path":"None",
        "time_delta_hours":"None",
        "sleep_delay":"None",
        "max_retry_command_seconds":"None",
        "verbose":"None",
        "strategies":{
          "DivergentT1":{
             "symbol":"EURUSD",
             "timeframe":"H4",
             "max_risk_per_trade":0.1
          }
        }
    }
}