{ 'tick_processor_params': 
{'mode': 'backtest', 'back_test_start': "2022-05-05 00:00:00", 'back_test_end': "2022-06-01 00:00:00", 'back_test_directory_path': 'C:/QuantDataManager/export', 'back_test_balance': 100000.0, 'back_test_currency': 'USD', 
'back_test_leverage': 33, 'MT4_directory_path': None,
'time_delta_hours': None, 'sleep_delay': None, 'max_retry_command_seconds': None, 'verbose': None},
'strategies': {'DivergentT1': {'symbol': 'EURUSD', 'timeframe': 'H4', 'max_risk_per_trade': 0.1}}
}